In [2]:
import pandas as pd

# Creating a DataFrame with sample e-commerce data
data = {
    "order_id": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "product_name": [
        "Laptop",
        "Smartphone",
        "Laptop",
        "Tablet",
        "Smartphone",
        "Tablet",
        "Smartwatch",
        "Laptop",
        "Headphones",
        "Smartwatch",
    ],
    "category": [
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Wearables",
        "Electronics",
        "Accessories",
        "Wearables",
    ],
    "customer_region": [
        "North",
        "South",
        "East",
        "North",
        "West",
        "South",
        "East",
        "West",
        "North",
        "West",
    ],
    "sales": [1200, 800, 1500, 500, 850, 400, 300, 1300, 150, 350],
}

df = pd.DataFrame(data)
print(df)

   order_id product_name     category customer_region  sales
0       101       Laptop  Electronics           North   1200
1       102   Smartphone  Electronics           South    800
2       103       Laptop  Electronics            East   1500
3       104       Tablet  Electronics           North    500
4       105   Smartphone  Electronics            West    850
5       106       Tablet  Electronics           South    400
6       107   Smartwatch    Wearables            East    300
7       108       Laptop  Electronics            West   1300
8       109   Headphones  Accessories           North    150
9       110   Smartwatch    Wearables            West    350

## Sales sum of each category

In [3]:
df.groupby('category')['sales'].sum()

category
Accessories     150
Electronics    6550
Wearables       650
Name: sales, dtype: int64

## Average sales in regions

In [4]:
df.groupby('customer_region')['sales'].mean().sort_values(ascending=False)

customer_region
East     900.000000
West     833.333333
North    616.666667
South    600.000000
Name: sales, dtype: float64

## Average sales for each product in regions

In [10]:
df.groupby(['product_name', 'customer_region'])['sales'].mean()

product_name  customer_region
Headphones    North               150.0
Laptop        East               1500.0
              North              1200.0
              West               1300.0
Smartphone    South               800.0
              West                850.0
Smartwatch    East                300.0
              West                350.0
Tablet        North               500.0
              South               400.0
Name: sales, dtype: float64

## Minimum and Maximum sales for region

In [11]:
df.groupby('customer_region')['sales'].aggregate(['min', 'max'])

                 min   max
customer_region
East             300  1500
North            150  1200
South            400   800
West             350  1300