In [1]:
import pandas as pd

# Creating a dataset
data = {
    "order_id": [201, 202, 203, 204, 205, 206, 207, 208, 209, 210],
    "product": [
        "Laptop",
        "Smartphone",
        "Laptop",
        "Tablet",
        "Smartphone",
        "Tablet",
        "Smartwatch",
        "Laptop",
        "Headphones",
        "Smartwatch",
    ],
    "category": [
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Wearables",
        "Electronics",
        "Accessories",
        "Wearables",
    ],
    "region": [
        "North",
        "South",
        "East",
        "North",
        "West",
        "South",
        "East",
        "West",
        "North",
        "West",
    ],
    "sales": [1500, 900, 1200, 600, 750, 450, 320, 1400, 200, 380],
}

df = pd.DataFrame(data)
print(df)

   order_id     product     category region  sales
0       201      Laptop  Electronics  North   1500
1       202  Smartphone  Electronics  South    900
2       203      Laptop  Electronics   East   1200
3       204      Tablet  Electronics  North    600
4       205  Smartphone  Electronics   West    750
5       206      Tablet  Electronics  South    450
6       207  Smartwatch    Wearables   East    320
7       208      Laptop  Electronics   West   1400
8       209  Headphones  Accessories  North    200
9       210  Smartwatch    Wearables   West    380

## Sales by category

_Which category has the highest sales?_
- The accessories category has the highest sales.

In [2]:
pd.pivot_table(df, index='category', values='sales', aggfunc='sum')

             sales
category
Accessories    200
Electronics   6800
Wearables      700

## Sales by product in each region

_Which product has the highest sales in `North` region?_
- A Laptop has the highest sales in the `North` region.

In [4]:
pd.pivot_table(df, index='product', columns='region', values='sales', aggfunc='sum')

region        East   North  South    West
product
Headphones     NaN   200.0    NaN     NaN
Laptop      1200.0  1500.0    NaN  1400.0
Smartphone     NaN     NaN  900.0   750.0
Smartwatch   320.0     NaN    NaN   380.0
Tablet         NaN   600.0  450.0     NaN

## Sum and average of sales for each category

_What is the average sales for the `Electronics` category?_
- The average sales for the `Electronics` category nearly equals 971.

In [6]:
pd.pivot_table(df, index="category", values="sales", aggfunc=["sum", "mean"])

              sum        mean
            sales       sales
category
Accessories   200  200.000000
Electronics  6800  971.428571
Wearables     700  350.000000

## Sales by product in each region with filled missing values

In [8]:
pd.pivot_table(df, index="product", columns="region", values="sales", fill_value=0)

region        East   North  South    West
product
Headphones     0.0   200.0    0.0     0.0
Laptop      1200.0  1500.0    0.0  1400.0
Smartphone     0.0     0.0  900.0   750.0
Smartwatch   320.0     0.0    0.0   380.0
Tablet         0.0   600.0  450.0     0.0